<div class="container">
  <div class="col-10 mx-auto p-2">
    <div class="border m-5 p-5 rounded" style="background-color: #D8BfD8;">
      <p>レビューの一覧ページです。</br>レビューの画像とついているタグと会員を確認できます。</br>
      画像をクリックするとレビューの詳細ページに遷移します。</p>
      <p class="lead"></p>
      <a class="btn btn-lg btn-outline-dark" href="/admin/reviews" role="button">レビュー一覧 »</a>
    </div>
    <div class="border m-5 p-5 rounded" style="background-color: #D8BfD8;">
      <p>会員一覧ページです。</br>会員のプロフィール画像とメールアドレスと名前が確認できます。</br>
      プロフィール画像をクリックすると会員の詳細ページに遷移します。</p>
      <p class="lead"></p>
      <a class="btn btn-lg btn-outline-dark" href="/admin/customers" role="button">会員一覧 »</a>
    </div>
  </div>
</div>