<ul class="list-group border">
  <% tags.each do |tag| %>
  <li class="list-group-item">
    <%= link_to tag.name,review_search_path(tag.id)%>
    <%="(#{tag.review.count})" %>
  </li>
  <% end %>
</ul>