<ul class="list-group ">
  <% tags.each do |tag| %>
  <li class="list-group-item rounded-pill m-1 border border-secondary tag-link">
    <%= link_to tag.name , search_tag_path(id: tag.id)%>
    <%="(#{tag.review.count})" %>
  </li>
  <% end %>
</ul>