<div class="container">
  <div class="row no-gutters">
    <div class="col-md-8 col-sm-10 mx-2 mx-sm-auto shadow-lg rounded px-0 my-5">
      <div class="form-body p-4 col-8 mx-auto">
        <h5 class="mb-0">New Review</h5>
        <%= render 'form', review: @review %>
      </div>
    </div>
  </div>
</div>