@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';


//***public***//

//review/index/_tags
.tag-text-color{
    color: #808080;
}

.tag-borderline{
    width: fit-content;
}

//review/index
.customer-name{
    color: #000;
    position: relative;
    top: 50%;
}

//homes/top
.search-form-color{
    color: #dee2e6;
}

//review/show
#map {
  height: 300px;
  width: 400px;
}

//review/index
.profile-image{
    width: 8vw;
    height: 8vw;
    margin: auto;
    object-fit: cover;
}
